{# 修改密码#}
{% extends 'admin/admin1.html' %}

{% block content %}
        <!--内容-->
        <section class="content-header">
            <h1>影院后台管理</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 个人资料</a></li>
                <li class="active">修改密码</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">修改密码</h3>
                        </div>


                        <form role="form" action="{% url "cinema:pwd" %}" method="post">
                            {% csrf_token %}
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="input_pwd">旧密码</label>
                                    <input name="oldpassword" type="password" class="form-control" id="input_pwd" placeholder="请输入旧密码！">
                                </div>
                                <div class="form-group">
                                    <label for="input_newpwd">新密码</label>
                                    <input name=password type="password" maxlength="20" minlength="3" required class="form-control"  placeholder="请输入新密码！">
                                    {{ error1 }}
                                    {{ error2 }}
                                    {{ error }}

                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">修改</button>



                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--内容-->
{% endblock content %}