<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<form action="{% url 'user:register' %}" method="post">
    {% csrf_token %}
    <label>
        <input type="text" name="mobile"/>
    </label>手机号
    <label>
        <input type="password" name="password"/>
    </label>密码
    <input type="submit">
</form>
{% for film in films_showing %}
    <div>
    {{ film.film_namech }} 中文名
    {{ film.film_rating }}  评分
    {{ film.film_releasdate }}  上映日期
    </div>
{% endfor %}

{% for film in films_coming %}
    <h1>{{ film.film_namech }}----{{ film.film_id }}</h1>
{% endfor %}

{% for film in films_hot %}
    <h1>{{ film.film_namech }}----{{ film.film_id }}</h1>
{% endfor %}

</body>

</html>