<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<form action = "{% url 'user:register' %}">
    user:<input type="text" name="user">
    password:<input type="password" name="password">


</form>
{% for film in films_showing %}
    <div style="border:chartreuse 1px solid">
    <h1>{{ username }}-----{{ forloop.counter }}</h1>
    <p>name:{{ film.film_namech }}</p>
    <p>rating:{{ film.filmpf.film_rating }}</p>
    <p>intro:{{ film.filmdetail.film_intro }}</p>
    </div>
{% endfor %}
</body>

</html>