{% extends 'common/base.html' %}
{% load static %}
{% block css1 %}
    <link rel="stylesheet" href="{% static 'css/common.d0f96cc2.css' %}">
    <link rel="stylesheet" href="{% static 'css/cinemas-cinema.c339c8d8.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
{% endblock css1 %}
{% block nav %}
    <div class="nav">
        <ul class="navbar">
            <li><a href="{% url 'film:index' %}" data-act="home-click">首页</a></li>
            <li><a href="{% url 'film:filmlist' 0 0 0 0 1 %}" data-act="movies-click">电影</a></li>
            {#                    <li><a href="{% url 'film:cinemalist' %}" data-act="cinemas-click">影院</a></li>#}
            <li><a href="{% url 'film:schedule' 1 %}" data-act="cinemas-click" class="active">购票</a></li>
            <li><a href="{% url 'film:ranking' 1 %}" data-act="board-click">榜单</a></li>
        </ul>
    </div>
{% endblock nav %}
{% block content %}
    <div class="banner cinema-banner">
        <div class="wrapper clearfix">
            <div class="cinema-left">
                <div class="avatar-shadow">
                    <img class="avatar" src="{{ cinema.cinema_photo }}">
                </div>
            </div>
            <div class="cinema-main clearfix">
                <div class="cinema-brief-container">
                    <h3 class="name text-ellipsis">{{ cinema.cinema_name }}</h3>
                    <div class="address text-ellipsis">{{ cinema.cinema_addr }}</div>
                    <div class="telphone">电话：{{ cinema.cinema_phone }}</div>
                    <div class="features-group">
                        <div class="group-title">影院服务</div>
                        <div class="feature">
                            <span class="tag ">3D眼镜</span>
                            <p class="desc text-ellipsis" title="免押金">免押金</p>
                        </div>
                        <div class="feature">
                            <span class="tag ">儿童优惠</span>
                            <p class="desc text-ellipsis" title="1.4m以下儿童半价，1.4m以上儿童正价减10元">
                                1.4m以下儿童半价，1.4m以上儿童正价减10元</p>
                        </div>
                        <div class="feature">
                            <span class="tag park-tag">可停车</span>
                            <p class="desc text-ellipsis" title="地下停车场，免费停车2小时">地下停车场，免费停车2小时</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="app">
        <div class="movie-list-container" data-cinemaid="99">
            <div class="movie-list">
                {% for film in films %}
                    <div {% ifequal filmid film.film_id %} class="movie active" {% else %}class="movie"{% endifequal %}
                                                           data-index="{{ forloop.counter0 }}"
                                                           data-movieid="{{ film.film_id }}"
                                                           data-bid="b_uup5nnq7"
                                                           data-val="city_id:1, movie_id:{{ film.film_id }}, cinema_id:{{ cinema.cinema_id }}">
                        <img src="{% static 'images/d9a904ad9ab9f73e4c4dc102434fade72858820.jpg@170w_235h_1e_1c' %}"
                             data-movieid="{{ film.film_id }}" alt="" id="pic{{ film.film_id }}">
                    </div>
                {% endfor %}
            </div>
            <span class="pointer" style="left: 2111px;"></span>
        </div>
        <span class="scroll-prev scroll-btn"></span>
        <span class="scroll-next scroll-btn"></span>
    </div>
    <div>
        {% for film in films %}
            <div class="show-list" data-index="" style="margin-left: 50px;display:none" id="div{{ film.film_id }}">
                <div class="movie-info">
                    <div>
                        <h3 class="movie-name">{{ film.film_namech }}</h3>
                        <span class="score sc">{{ film.filmpf.film_rating }}</span>
                    </div>
                    <div class="movie-desc">
                        <div>
                            <span class="key">时长 :</span>
                            <span class="value">{{ film.filmdetail.duration }}分钟</span>
                        </div>
                        <div>
                            <span class="key">类型 :</span>
                            <span class="value">{{ film.filmdetail.film_type1 }}{{ film.detail.film_type2 }}</span>
                        </div>
                        <div>
                            <span class="key">主演 :</span>
                            <span class="value"> {{ film.film_actor1 }},{{ film.film_actor2 }},{{ film.film_actor3 }}</span>
                        </div>
                    </div>
                </div>
                <div class="show-date">
                    <span>观影时间 :</span>
                    <span class="date-item active" data-index="0">今天 8月5</span>
                    <span class="date-item " data-index="1">明天 8月6</span>
                </div>
                <div class="plist-container active">
                    <table class="plist">
                        <thead>
                        <tr>
                            <th>放映时间</th>
                            <th>语言版本</th>
                            <th>放映厅</th>
                            <th>售价（元）</th>
                            <th>选座购票</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for skd in skds %}
                            {% ifequal skd.skd_filmid film.film_id %}
                                <tr class="">
                                    <td>
                                        <span class="begin-time">{{ skd.skd_starttime }}</span>
                                        <br>
                                        <span class="end-time">{{ skd.skd_endtime }}散场</span>
                                    </td>
                                    <td>
                                        <span class="lang">{{ film.filmdetail.film_language1 }} 3D</span>
                                    </td>
                                    <td>
                                        <span class="hall">{{ skd.skd_hallid }}厅</span>
                                    </td>
                                    <td>
                                        <span class="sell-price"><span
                                                class="stonefont">{{ skd.skd_price }}</span></span>
                                    </td>
                                    <td>

                                        <a {% if 'username' in request.session %}href="{% url 'film:seat' skd.skd_id %}"
                                           {% else %}href="{% url 'user:login' %}"{% endif %}
                                           class="buy-btn normal"
                                           data-tip="" data-act="show-click" data-bid="b_gvh3l8gg"
                                           data-val="{movie_id: 1211270, cinema_id:99}">选座购票</a>
                                    </td>
                                </tr>
                            {% endifequal %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
{% block footjs %}
    {#    <script>#}
    {#        $("img").click(function () {#}
    {#            var filmid = $(this).attr('data-movieid');#}
    {#            $('$div{{ filmid }}').css('display','block');#}
    {#            $.ajax({#}
    {#                cache: false,#}
    {#                type: "POST",#}
    {#                url: "{% url 'film:schedule' filmid%}",#}
    {#                data: {#}
    {#                    filmid: filmid#}
    {#                },#}
    {#                dataType:'json',#}
    {#                async: true,#}
    {#                success:function (data) {#}
    {#                    console.log(data);#}
    {#                }#}
    {#            })#}
    {#        })#}
    {#    </script>#}
    <script>
        {% for film in films %}
            $(document).ready(function () {
                $('#pic{{ film.film_id }}').click(function () {
                    $('#div{{ film.film_id}}').css('display', 'block');
                    $('#div{{ film.film_id}}').siblings().css('display', 'none');
                })
            });
        {% endfor %}
    </script>
    <script>
        {% for film in films %}
            $('#pic{{ film.film_id }}').click(function () {
                $('#div{{ film.film_id}}').css('display', 'block');
                $('#div{{ film.film_id}}').siblings().css('display', 'none');
            });
        {% endfor %}
    </script>
    <!--[if IE 8]><script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/es5-shim.bbad933f.js"></script>
    <![endif]-->
    <!--[if IE 8]><script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/es5-sham.d6ea26f4.js"></script>
    <![endif]-->
    <script crossorigin="anonymous"
            src="{% static 'js/common.0a0ab3ab.js' %}"></script>
    <script crossorigin="anonymous"
            src="{% static 'js/cinemas-cinema.72ce3542.js' %}"></script>
{% endblock footjs %}