{% extends 'common/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/common.d0f96cc2.css'%}">
    <link rel="stylesheet" href="{% static 'css/query-index.8f264800.css' %}">
{% endblock css %}
    <script crossorigin="anonymous" src="/static/js/stat.88d57c80.js"></script>
    <script async="" defer="" charset="utf-8" src="/static/js/web.js"></script>
    <script>if (window.devicePixelRatio >= 2) {
        document.write('<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image-2x.8ba7074d.css"/>')
    }</script>
    <style>
        @font-face {
            font-family: stonefont;
            src: url('//vfile.meituan.net/colorstone/52df812f8ef595e3fe08ef5d380d37c43168.eot');
            src: url('//vfile.meituan.net/colorstone/52df812f8ef595e3fe08ef5d380d37c43168.eot?#iefix') format('embedded-opentype'),
            url('//vfile.meituan.net/colorstone/9619634f9d4fea2f3925dcf70d868e222080.woff') format('woff');
        }

        .stonefont {
            font-family: stonefont;
        }
    </style>
    <meta name="lx:autopv" content="off">
    <meta name="lx:appnm" content="movie">
    <meta name="lx:category" content="movie">
</head>
<body>

{% block header %}

<div class="search-box">
    <form data-state-val="{kw:&#39;&#39;}" class="search-form" data-actform="query-search-click">
        <input class="kw" type="text" name="kw" maxlength="32" value="" placeholder="找影视剧、影人、影院" autocomplete="off">
        <button class="submit" type="submit"></button>
    </form>
</div>
<div class="subnav">
    <ul class="navbar">
        <li>
            <a data-act="subnav-click" data-val="{subnavClick:0}" data-state-val="{subnavId:0}" class="active"
               href="javascript:void(0);">影视剧（0）</a>
        </li>
        <li>
            <a data-act="subnav-click" data-val="{subnavClick:1}"
               href="https://maoyan.com/query?kw=&amp;type=1">影人（0）</a>
        </li>
        <li>
            <a data-act="subnav-click" data-val="{subnavClick:2}"
               href="https://maoyan.com/query?kw=&amp;type=2">影院（0）</a>
        </li>
    </ul>
</div>


<div class="container" id="app">
    <div class="search-result-box">
        <div class="empty-list">

            <h3>很抱歉，没找到相关的影视剧</h3>
            <dl>
                <dt>小喵建议您：</dt>
                <dd>1. 请检查输入的关键词是否有误</dd>
                <dd>2. 请缩短关键词</dd>
            </dl>
        </div>
    </div>
</div>

<div class="footer" style="visibility: visible;">
    <p class="friendly-links">
        关于猫眼 :
        <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
        <span></span>
        <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
        <span></span>
        <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        友情链接 :
        <a href="http://www.meituan.com/" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
        <span></span>
        <a href="http://www.gewara.com/" data-query="utm_source=wwwmaoyan">格瓦拉</a>
        <span></span>
        <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
        <span></span>
        <a href="https://www.huanxi.com/" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
    </p>
    <p class="friendly-links">
        商务合作邮箱：v@maoyan.com
        客服电话：10105335
        违法和不良信息举报电话：4006018900
        <br>
        用户投诉邮箱：tousujubao@meituan.com
        舞弊线索举报邮箱：wubijubao@maoyan.com
    </p>
    <p>
        ©2016
        猫眼电影 maoyan.com
        <a href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&amp;keyword=%E4%BA%ACICP%E8%AF%81160733%E5%8F%B7&amp;pageNo=1"
           target="_blank">京ICP证160733号</a>
        <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备16022489号-1</a>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232" target="_blank">京公网安备
            11010102003232号</a>
        <a href="https://maoyan.com/about/licence" target="_blank">网络文化经营许可证</a>
        <a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
    </p>
    <p>北京猫眼文化传媒有限公司</p>
</div>

<script crossorigin="anonymous" src="/static/js/owl_1.7.11.js"></script>
<script>
    Owl.start({
        project: 'com.sankuai.movie.fe.mywww',
        pageUrl: location.href.split('?')[0].replace(/\/\d+/g, '/:id'),
        devMode: false
    })
</script>
<!--[if IE 8]><script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/es5-shim.bbad933f.js"></script>
<![endif]-->
<!--[if IE 8]><script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/es5-sham.d6ea26f4.js"></script>
<![endif]-->
<script crossorigin="anonymous" src="/static/js/common.5b26e1eb.js"></script>
<script crossorigin="anonymous" src="/static/js/query-index.96204c20.js"></script>


</body>
</html>