{% extends 'common/base.html' %}
{% load static %}
    <title>{{ title }}</title>
{% block css1 %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.d0f96cc2.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrapValidator.css' %}">
    <style>
    .form-group{
        width: 50%;
    }
    </style>
{% endblock css1 %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>
<script>if (window.devicePixelRatio >= 2) {
    document.write('<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image-2x.8ba7074d.css"/>')
}
</script>
{% endblock js %}
{% block js2 %}
{% endblock js2 %}
{% block header %}
{% endblock header %}
{% block content %}
<body class="pg-unitive-signup theme--maoyan">
<header class="header--mini">
    <div class="wrapper cf">
        <a class="site-logo" href=""></a>
    </div>
</header>
<div class="content" style="position: relative;margin: auto">
     <form id="registerForm" method="POST" class="form-horizontal" action="{% url 'user:register' %}">
         {% csrf_token %}
         <div class="form-group">
            <label class="control-label" for="phone">*请输入手机号码:</label>
            <input type="text" class="form-control" placeholder="" name="phone" id="phone">
         </div>
         <div class="form-group">
             <input type="submit" class="btn-normal btn-mini" value="免费获取短信动态码" id="sendsms" name="sendsms">
         </div>
         <div class="form-group">
            <label class="control-label" for="phonecode">*请输入手机验证码:</label>
            <input type="text" class="form-control" placeholder="" name="phonecode" id="phonecode">
         </div>
         <div class="form-group">
        <!--注册密码-->
            <label class="control-label" for="password">*请输入密码:</label>
            <input type="password" class="form-control" placeholder="请输入注册密码" name="password" id="password">
        </div>
         <div class="form-group">
                <!--确认密码-->
                <label class="control-label" for="repassword">*请确认密码:</label>
                <input type="password" class="form-control" placeholder="请输入确认密码" name="repassword" id="repassword">
         </div>
         <div>
             <a href="{% url 'user:login' %}">已有帐号,直接登录</a>
         </div>
         <div class="form-group">
{#             <button type="submit" class="btn btn-primary form-control" id="submit">提交注册</button>#}
             <input type="submit" class="btn btn-primary form-control" id="submit"/>
         </div>


     </form>
</div>
{% endblock %}
{% block footjs %}

<script type="text/javascript">
    $("#registerForm").bootstrapValidator({
            feedbackIcons: {
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                phone: {
                    validators: {
                        message: '请输入11位手机号',
                        notEmpty: {
                            message: '手机号码不能为空'
                        },
                        stringlength: {
                            min: 11,
                            max: 11,
                            message: '请输入11位手机号码'
                        },
                        regexp: {
                            regexp: /^1[0-9]{10}$/,
                            message: '请输入11位手机号码'
                        },
                    },
                },
                password: {
                    message: '请输入密码',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 3,
                            max: 20,
                            message: '密码长度必须位于3到20之间'
                        },
                        identical: {
                            field: 'password',
                            message: '两次密码输入不一致'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9]+$/,
                            message: '密码只能由数字字母组成'
                        }
                    }
                },
                repassword: {
                    message: '请确认密码',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 3,
                            max: 20,
                            message: '密码长度必须位于3到20之间'
                        },
                        identical: {
                            field: 'password',
                            message: '两次密码输入不一致'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9]+$/,
                            message: '密码由数字和字母组成'
                        }
                    }
                },
                phonecode: {
                    validators: {
                        notEmpty: {
                            message: '验证码不能为空'
                        },
                        stringlength: {
                            min: 6,
                            max: 6,
                            message: '请输入6位验证码'
                        },
                        regexp: {
                            regexp: /^[\d]{6}$/,
                            message: '请输入6位数字验证码'
                        }
                    }
                },
            },
        });
        $("#submit").click(function () {
            if ($("#registerForm").data('bootstrapValidator').isValid()) {
                $.ajax({
                    cache:false,
                    type:"POST",
                    url:"{% url 'user:register' %}",
                    data:{
                        csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val(),
                        phone:$("#phone").val(),
                        phonecode:$("#phonecode").val(),
                        password:$("#password").val(),
                    },
                    async:true,
                    success:function (result) {
                        alert(result);
                        $('.content').html(result)
                    }
                })
            }
        });
</script>

<script>
    $('#sendsms').click(function () {
        $.ajax({
            cache:false,
            type:"POST",
            url:"{% url 'user:sendsms' %}",
            data:{
                csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val(),
                phone:$("#phone").val()
            },
            async:true,
        })
    })
</script>
{% endblock footjs %}
</body>
</html>

