{% extends 'common/base.html' %}
{% load static %}
    <title>{{ title }}</title>
{% block css1 %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.d0f96cc2.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrapValidator.css' %}">
    <style>
    .form-group{
        width: 50%;
    }
    </style>
{% endblock css1 %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>
<script>if (window.devicePixelRatio >= 2) {
    document.write('<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image-2x.8ba7074d.css"/>')
}
</script>
{% endblock js %}
{% block js2 %}
{% endblock js2 %}
{% block header %}
{% endblock header %}
{% block content %}
<body class="pg-unitive-login theme--maoyan">
    <script crossorigin="anonymous" src="{% static 'js/owl_1.8.0.js' %}"></script>
<script>
  Owl.start({
    project: "com.sankuai.fe.www.sso",
    pageUrl: "login",
    devMode: false
  })
</script>
<header class="header--mini">
    <div class="wrapper cf">
        <a class="site-logo" href=""></a>
    </div>
</header>
        <div class="content" style="position: relative;margin:50px">
     <form id="loginForm" method="POST" class="form-horizontal" action="{% url 'user:login' %}">
         {% csrf_token %}
         <div class="form-group">
            <label class="control-label" for="phone">手机号码登录:</label>
            <input type="text" class="form-control" placeholder="请输入11位手机号" name="phone" id="phone">
         </div>
         <div class="form-group">
            <label class="control-label" for="password">密码:</label>
            <input type="password" class="form-control" placeholder="请输入注册密码" name="password" id="password">
        </div>
         <a href="{% url 'user:register' %}" class="forget-password">忘记密码？</a>
         <a href="{% url 'user:register' %}" class="forget-password">注册</a>
         <div class="form-group">
             <input type="submit" class="btn btn-primary form-control" id="submit" value="登录">
         </div>
     </form>
</div>
{% endblock content%}
<script type="text/javascript">
    $("#loginForm").bootstrapValidator({
            feedbackIcons: {
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                phone: {
                    validators: {
                        message: '请输入11位手机号',
                        notEmpty: {
                            message: '手机号码不能为空'
                        },
                        stringlength: {
                            min: 11,
                            max: 11,
                            message: '请输入11位手机号码'
                        },
                        regexp: {
                            regexp: /^1[0-9]{10}$/,
                            message: '请输入11位手机号码'
                        },
                    },
                },
                password: {
                    message: '请输入密码',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 3,
                            max: 20,
                            message: '密码长度必须位于3到20之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9]+$/,
                            message: '密码只能由数字字母组成'
                        }
                    }
                },
            },
        });
        $("#submit").click(function () {
            if ($("#registerForm").data('bootstrapValidator').isValid()) {
                alert("yes");
            }
        });
</script>