{% extends 'common/base.html' %}
{% load static %}
{% load filter %}
<script async="" src="/static/js/saved_resource.js"></script>
<script type="text/javascript" async="" src="/static/js/yoda.seed.js"></script>
<script type="text/javascript" src="/static/js/default.js"></script>
<script>"use strict";
!function () {
    var i = 0 < arguments.length && void 0 !== arguments[0] ? arguments[0] : "_Owl_", n = window;
    n[i] || (n[i] = {
        isRunning: !1, isReady: !1, preTasks: [], dataSet: [], use: function (i, t) {
            this.isReady && n.Owl && n.Owl[i](t), this.preTasks.push({api: i, data: [t]})
        }, add: function (i) {
            this.dataSet.push(i)
        }, run: function () {
            var t = this;
            if (!this.isRunning) {
                this.isRunning = !0;
                var i = n.onerror;
                n.onerror = function () {
                    this.isReady || this.add({type: "jsError", data: arguments}), i && i.apply(n, arguments)
                }.bind(this), (n.addEventListener || n.attachEvent)("error", function (i) {
                    t.isReady || t.add({type: "resError", data: [i]})
                }, !0)
            }
        }
    }, n[i].run())
}();</script>
<script>
    cid = "c_2yzd0xp5";
    ci = 1;
    window.system = {
        "seatsPrice": {
            "1": {"expression": "66.5X1", "price": "66.5"},
            "2": {"expression": "66.5X2", "price": "133"},
            "3": {"expression": "66.5X3", "price": "199.5"},
            "4": {"expression": "66.5X4", "price": "266"},
            "5": {"expression": "66.5X5", "price": "332.5"},
            "6": {"expression": "66.5X6", "price": "399"}
        }, "remind": "", "uuid": "A661ECE0B74611E9A712A7D4AB5ECB3D9CBE2A599C144EF2A174F870BD497444", "cinemaId": 99
    };

    window.openPlatform = '';
    window.openPlatformSub = '';
    window.$mtsiFlag = '0';

</script>
{% block css1 %}
    <link rel="stylesheet" href="{% static 'css/common.d0f96cc2.css' %}">
    <link rel="stylesheet" href="{% static 'css/cinemas-seat.b8adee6e.css' %}">

    <style>
        @font-face {
            font-family: stonefont;
            src: url('//vfile.meituan.net/colorstone/2f73f25cc6280daccd1168c090a90cbe3168.eot');
            src: url('//vfile.meituan.net/colorstone/2f73f25cc6280daccd1168c090a90cbe3168.eot?#iefix') format('embedded-opentype'),
            url('//vfile.meituan.net/colorstone/da61901aea42a14aab9e6f6bdc6c01502084.woff') format('woff');
        }

        .stonefont {
            font-family: stonefont;
        }
    </style>
    <style type="text/css">@media only screen and (min-width: 320px) {
        .fontSize {
            font-size: 16px
        }
    }

    @media only screen and (min-width: 480px) {
        .fontSize {
            font-size: 24px
        }
    }

    @media only screen and (min-width: 560px) {
        .fontSize {
            font-size: 30px
        }
    }

    .mtfe-tip-mtfe-wrapper {
        display: none;
        position: absolute;
        width: 70%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 9em;
        padding: .5em 1em;
        border-radius: .25em;
        background: rgba(0, 0, 0, .7);
        color: #fff;
        z-index: 3;
        text-align: center
    }

    @media only screen and (min-width: 320px) {
        .mtfe-tip-mtfe-wrapper {
            font-size: 16px
        }
    }

    @media only screen and (min-width: 480px) {
        .mtfe-tip-mtfe-wrapper {
            font-size: 24px
        }
    }

    @media only screen and (min-width: 560px) {
        .mtfe-tip-mtfe-wrapper {
            font-size: 30px
        }
    }

    .mtfe-model-mtfe-wrapper {
        display: none;
        position: absolute;
        width: 80%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 9em;
        padding: .5em 0;
        border-radius: .25em;
        background: #fff;
        color: #fff;
        z-index: 3;
        text-align: center
    }

    @media only screen and (min-width: 320px) {
        .mtfe-model-mtfe-wrapper {
            font-size: 16px
        }
    }

    @media only screen and (min-width: 480px) {
        .mtfe-model-mtfe-wrapper {
            font-size: 24px
        }
    }

    @media only screen and (min-width: 560px) {
        .mtfe-model-mtfe-wrapper {
            font-size: 30px
        }
    }

    .mtfe-smscodeyoda-mtfe-wrapper {
        display: none;
        width: 80%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 40%;
        position: absolute;
        z-index: 2
    }

    .mtfe-mask-mtfe-wrapper {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
        z-index: 1
    }

    .iLoginComp-wrapper {
        width: 100%;
        padding: 1.2em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    @media only screen and (min-width: 320px) {
        .iLoginComp-wrapper {
            font-size: 16px
        }
    }

    @media only screen and (min-width: 480px) {
        .iLoginComp-wrapper {
            font-size: 24px
        }
    }

    @media only screen and (min-width: 560px) {
        .iLoginComp-wrapper {
            font-size: 30px
        }
    }

    .iLoginComp-phone-num-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: .6em
    }

    .iLoginComp-phone-num-input {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border: 0;
        min-width: 0;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-size: 1em
    }

    .iLoginComp-phone-num-input, .iLoginComp-phone-num-input:focus {
        outline: none;
        background-color: inherit
    }

    .iLoginComp-phone-num-input::-webkit-input-placeholder {
        color: #ccc
    }

    .iLoginComp-phone-num-input:-ms-input-placeholder, .iLoginComp-phone-num-input::-ms-input-placeholder {
        color: #ccc
    }

    .iLoginComp-phone-num-input::placeholder {
        color: #ccc
    }

    .iLoginComp-verify-code-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-top: 1em;
        padding-bottom: .6em;
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .iLoginComp-code-input {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 100%;
        border: 0;
        min-width: 0;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-size: 1em
    }

    .iLoginComp-code-input, .iLoginComp-code-input:focus {
        outline: none;
        background-color: inherit
    }

    .iLoginComp-code-input::-webkit-input-placeholder {
        color: #ccc
    }

    .iLoginComp-code-input:-ms-input-placeholder, .iLoginComp-code-input::-ms-input-placeholder {
        color: #ccc
    }

    .iLoginComp-code-input::placeholder {
        color: #ccc
    }

    .iLogincomp-opbtn-wrapper {
        margin-top: 2em
    }

    .iLoginComp-cancel-btn-wrapper, .iLoginComp-login-btn-wrapper {
        text-align: center;
        color: #999;
        background: #e5e5e5;
        height: 2.8em;
        line-height: 2.8em;
        border-radius: .3em;
        width: 100%;
        display: block;
        border: none;
        cursor: pointer;
        font-size: 1em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    }

    .iLoginComp-cancel-btn-wrapper:focus, .iLoginComp-login-btn-wrapper:focus {
        outline: 0
    }

    .iLoginComp-login-btn-wrapper.iLogincomp-active {
        color: #fff;
        background: #06c1ae
    }

    .iLoginComp-send-verify-code-text {
        font-size: .8em;
        color: #999;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #dcdcdc;
        border: 1px solid #dcdcdc;
        padding: .2em .5em;
        border-radius: .2em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    }

    .iLoginComp-send-verify-code-text.iLogincomp-active {
        color: #06c1ae;
        border: 1px solid #06c1ae;
        background: 0
    }

    .iLogincomp-count-down {
        color: #999;
        background-color: #dcdcdc;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 2em
    }
    </style>
{% endblock css1 %}
{% block content %}
    <div class="container" id="app">
        <div class="order-progress-bar">
            <div class="step first done">
                <span class="step-num">1</span>
                <div class="bar"></div>
                <span class="step-text">选择影片场次</span>
            </div>
            <div class="step done">
                <span class="step-num">2</span>
                <div class="bar"></div>
                <span class="step-text">选择座位</span>
            </div>
            <div class="step ">
                <span class="step-num">3</span>
                <div class="bar"></div>
                <span class="step-text">14分钟内付款</span>
            </div>
            <div class="step last ">
                <span class="step-num">4</span>
                <div class="bar"></div>
                <span class="step-text">影院取票观影</span>
            </div>
        </div>
        {#    <form action="{% url 'user:payment' %}">#}
        <div class="main clearfix">
            <div class="hall">
                <div class="seat-example">
                    <div class="selectable-example example">
                        <span>可选座位</span>
                    </div>
                    <div class="sold-example example">
                        <span>已售座位</span>
                    </div>
                    <div class="selected-example example">
                        <span>已选座位</span>
                    </div>
                    <div class="couple-example example">
                        <span>情侣座位</span>
                    </div>
                </div>
                <div class="seats-block" data-cols="16" data-section-id="1" data-section-name="全区"
                     data-seq-no="201908050161833">
                    <div class="row-id-container">
                        {% for row in hall_rows %}
                        <span class="row-id">{{ row }}</span>
                        <span class="empty-row-id"></span>
{#                        <span class="row-id">B</span>#}
{#                        <span class="empty-row-id"></span>#}
{#                        <span class="row-id">C</span>#}
{#                        <span class="empty-row-id"></span>#}
{#                        <span class="row-id">D</span>#}
{#                        <span class="empty-row-id"></span>#}
{#                        <span class="row-id">E</span>#}
                        {% endfor %}
                    </div>
                    <div class="seats-container">
                        <div class="screen-container" style="left: 45px;">
                            <div class="screen">银幕中央</div>
                            <div class="c-screen-line"></div>
                        </div>
                        <div class="seats-wrapper">
                            {% for row in hall_rows %}
                                <div class="row">
                                    {% for col in hall_cols %}
                                        {% for seat in seats %}
                                            {% ifequal seat.seat_num row|seatnum:col %}
                                                <span{% for lock in locks %}{% if lock.lock_seatnum == seat.seat_num %}
                                                    class="seat sold" {% endif %}{% endfor %}
                                                    class="seat selectable"
                                                    data-column-id="{{ col }}"
                                                    data-row-id="{{ row }}"
                                                    id="seat{{ row|seatnum:col }}" data-st="N"
                                                    data-act="seat-click" data-bid="b_s7eiiijf">
                                                </span>

                                            {% endifequal %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="empty-row"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="side">
                <div class="movie-info clearfix">
                    <div class="poster">
                        <img src="/static/images/8d3efdc44af04c3254fc9e4ad5334ae32660685.jpg@115w_158h_1e_1c">
                    </div>
                    <div class="content">
                        <p class="name text-ellipsis">{{ film.film_namech }}</p>
                        <div class="info-item">
                            <span>类型 :</span>
                            <span class="value">{{ film.filmdetail.film_type1 }} {{ film.filmdetail.film_type2 |default_if_none:'' }} {{ film.filmdetail.film_type3 |default_if_none:'' }} {{ film.filmdetail.film_type4 |default_if_none:'' }}</span>
                        </div>
                        <div class="info-item">
                            <span>时长 :</span>
                            <span class="value">100分钟</span>
                        </div>
                    </div>
                </div>

                <div class="show-info">
                    <div class="info-item">
                        <span>影院 :</span>
                        <span class="value text-ellipsis">{{ cinema.cinema_name }}</span>
                    </div>
                    <div class="info-item">
                        <span>影厅 :</span>
                        <span class="value text-ellipsis">{{ hall.hall_name }}</span>
                    </div>
                    <div class="info-item">
                        <span>版本 :</span>
                        <span class="value text-ellipsis">{{ skd.skd_language }}</span>
                    </div>
                    <div class="info-item">
                        <span>场次 :</span>
                        <span class="value text-ellipsis screen">{{ skd.skd_date }} {{ skd.skd_starttime }}</span>
                    </div>
                    <div class="info-item">
                        <span>票价 :</span>
                        <span class="value text-ellipsis">{{ skd.skd_price }}</span>
                    </div>
                </div>
                <div class="ticket-info">
                    <div class="no-ticket">
                        <p class="buy-limit">座位：一次最多选5个座位</p>
                        <p class="no-selected">请<span>点击左侧</span>座位图选择座位</p>
                    </div>
                    <div class="has-ticket" style="display:none">
                        <span class="text">座位：</span>
                        <div class="ticket-container" data-limit="6"></div>
                    </div>

                    <div class="total-price">
                        <span>总价 :</span>
                        <span class="price" id="price">0</span>
                    </div>
                </div>
                <div class="confirm-order">
                    <div id="iLoginComp" style="visibility: visible;">
                        <div id="secYodaRoot" class="mtfe-secyoda-mtfe-wrapper"></div>
                        <div id="smdcodeYodaRoot" class="mtfe-smscodeyoda-mtfe-wrapper"></div>
                        <div class="mtfe-tip-mtfe-wrapper" id="iLoginCompShowTip"></div>
                        <div class="mtfe-model-mtfe-wrapper" id="iLoginCompModel"></div>
                        <div class="mtfe-mask-mtfe-wrapper" id="iLoginCompMask"></div>
                        <div class="iLoginComp-wrapper " id="iLoginCompInner">
                            {% if 'username' not in request.session %}
                                <div class="iLoginComp-phone-num-wrapper">
                                    <input class="iLoginComp-phone-num-input" id="phoneNumInput" type="text"
                                           maxlength="11"
                                           placeholder="输入手机号">
                                    <span></span>
                                </div>
                                <div class="iLoginComp-verify-code-wrapper">
                                    <input class="iLoginComp-code-input" id="codeInput" type="text" placeholder="填写验证码">
                                    <div class="iLoginComp-send-verify-code-text" id="sendCodeBtn">获取验证码</div>
                                </div>
                                </div>
                                <div class="iLogincomp-opbtn-wrapper">
                                <button class="iLoginComp-cancel-btn-wrapper" id="cancelLogin" style="display:none;">
                                    取消
                                </button>
                            {% endif %}
                            <form action="{% url 'user:payment' %}" method="POST">
                                <input type="hidden" name="seats" value="0" id="seatid">
                                <input type="hidden" name="skd" value="{{ skd.skd_id }}">
                                <button type="submit" class="iLoginComp-login-btn-wrapper" id="iloginBtn">
                                    确认选座
                                </button>
                                </form>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-container" style="display:none">
            <div class="modal">
                <span class="icon"></span>
                <p class="tip"></p>
                <div class="ok-btn btn">我知道了</div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.min.js' %}"></script>
    <script crossorigin="anonymous" src="{% static 'js/cinemas-seat.ff61c305.js' %}"></script>
{% endblock content %}
{% block footjs %}
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script>
        var arr = [];
    </script>
    <script>
        $("span").click(function () {
            var colid = $(this).attr('data-column-id');
            var rowid = $(this).attr('data-row-id');
            var seatid = $(this).attr('id');
            if ($(this).hasClass('selectable')) {
                $("#" + seatid).prop('class', 'seat selected');
                arr.push(seatid);
                var prices =
                {{ skd.skd_price }} *
                arr.length;
                if ($(".selected").length > 5) {
                    alert('最多选择5个座位');
                }
                console.log(arr);
                console.log(prices);
                document.getElementById("price").innerHTML = prices;
                if (arr.length > 0) {
                    $('.has-ticket').css('display', 'block');
                    $('#iloginBtn').removeClass('disabled');
                    $(".ticket-container").append('<span class="ticket" data-row-id="' + rowid + '"data-column-id="' + colid + '" id="' + rowid + '-' + colid + '">' + rowid + '排' + colid + '座</span>');
                }
            } else if ($(this).hasClass('selected')) {
                $("#" + seatid).prop('class', 'seat selectable');
                arr.pop(seatid);
                var prices =
                {{ skd.skd_price }} *
                arr.length;
                console.log(arr);
                console.log(prices);
                document.getElementById("price").innerHTML = prices;
                $("span").remove('#' + rowid + '-' + colid);
                if (arr.length < 1) {
                    $('.has-ticket').css('display', 'none');
                    $('#iloginBtn').addClass('disabled');
                    console.log(arr);
                }
            }
        });
    </script>
    <script>
        $("#iloginBtn").click(function () {
            $('#seatid').prop('value',arr);
            var x=$('#seatid').val();
            console.log(x);
            {#$.ajax({#}
            {#    cache: false,#}
            {#    type: "POST",#}
            {#    url: "{% url 'user:payment'%}",#}
            {#    traditional: true,#}
            {#    data: {#}
            {#        arr: arr,#}
            {#        skd:{{ skd.skd_id }},#}
            {#    },#}
            {#    dataType: 'json',#}
            {#    async: true,#}
            {#    success: function (data) {#}
            {#        console.log(data);#}
            {#        window.location.href = "{% url 'user:payment'%}";#}
            {#        console.log('123')#}
            {#    },#}
            {#    error: function (data) {#}
            {#        console.log(data, '11111');#}
            {##}
                    {#alert('error');#}
                    {#window.location.href = "{% url 'user:payment'%}";#}
            {#    }})#}
        })
    </script>
    {#    <script>#}
    {#        $("#iloginBtn").click(function () {#}
    {#console.log('data');#}
    {#console.log(arr);#}
    {#            $.post("{% url 'user:payment'%}",data={#}
    {#                    arr: arr,#}
    {#                    skd:{{ skd.skd_id }},#}
    {#                },function f(data) {#}
    {#                console.log(data);#}
    {#                window.location.href = "{% url 'user:payment'%}";#}
    {#            })#}
    {##}
    {#        })#}
    {#    </script>#}
{% endblock %}