{% extends 'common/base.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="/static/css/common.d0f96cc2.css">
    <link rel="stylesheet" href="/static/css/common.d0f96cc2.css">
    <link rel="stylesheet" href="/static/css/home-index.521afa7b.css">
{% endblock css %}
{% block js %}
    <script crossorigin="anonymous" src="/static/js/stat.88d57c80.js.下载"></script>
    <script async="" defer="" charset="utf-8" src="/static/js/web.js.下载"></script>
    <script>if (window.devicePixelRatio >= 2) {
        document.write('<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image-2x.8ba7074d.css"/>')
    }</script>
{% endblock js %}

{% block content %}

    <div class="container" id="app">
        <div class="content">
            <div class="aside">
                <div class="ranking-box-wrapper">
                    <div class="panel">
                        <div class="panel-header">
      <span class="panel-title">
        <span class="textcolor_red">今日票房</span>
      </span>
                        </div>
                        <div class="panel-content">
                            <ul class="ranking-wrapper ranking-box">
                                <li class="ranking-item ranking-top ranking-index-1">
                                    <a href="https://maoyan.com/films/1211270" target="_blank"
                                       data-act="ticketList-movie-click" data-val="{movieid:1211270}">
                                        <div class="ranking-top-left">
                                            <i class="ranking-top-icon"></i>
                                            <img class="ranking-img  default-img" src="/static/images/1.jpg">
                                        </div>

                                        {% for film in films_pf1 %}
                                            <div class="ranking-top-right">
                                                <div class="ranking-top-right-main">

                                                    <span class="ranking-top-moive-name">{{ film.film_namech }}</span>


                                                    <p class="ranking-top-wish">
                                                        <span class="stonefont">{{ films_pf.daily_pf }}</span>亿
                                                    </p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </a>
                                </li>
                                {% for film in films_pf %}
                                    <li class="ranking-item ranking-index-2">
                                    <a href="https://maoyan.com/films/1243361" target="_blank"
                                       data-act="ticketList-movie-click" data-val="{movieid:1243361}">
          <span class="normal-link">
            <i class="ranking-index">{{ forloop.counter | add:'1' }}</i>
            <span class="ranking-movie-name">{{ film.film_namech }}</span>

            <span class="ranking-num-info">
                <span class="stonefont">.</span>万
              </span>
          </span>
                                    </a>

                                {% endfor %}

                                </li>


                            </ul>


                        </div>
                    </div>
                </div>


                <div class="most-expect-wrapper">
                    <div class="panel">
                        <div class="panel-header">
      <span class="panel-more">
        <a href="https://maoyan.com/board/6" class="textcolor_orange" data-act="all-mostExpect-click">
          <span>查看完整榜单</span>
        </a>
        <span class="panel-arrow panel-arrow-orange"></span>
      </span>
                            <span class="panel-title">
        <span class="textcolor_orange">最受期待</span>
      </span>
                        </div>
                        <div class="panel-content">
                            <ul class="ranking-wrapper ranking-mostExpect">

                                {#{% for film in films_want1 %}#}
                                <li class="ranking-item ranking-top ranking-index-1">
                                    <a href="https://maoyan.com/films/1215605" target="_blank"
                                       data-act="mostExpect-movie-click" data-val="{movieid:1215605}">
                                        <div class="ranking-top-left">

                                            <i class="ranking-top-icon"></i>
                                            {% for film in films_want1 %}
                                                <img class="ranking-img  default-img"
                                                     src="/static/images/648bbced128324a4b4ccf7db6c564a251744344.jpg@140w_194h_1e_1c">
                                                </div>
                                                <div class="ranking-top-right">
                                                    <div class="ranking-top-right-main">

                                                        <span class="ranking-top-moive-name">{{ film.film_namech }}</span>

                                                        <p class="ranking-release-time">上映时间：2019-08-23</p>
                                                        <p class="ranking-top-wish">
                                                            <span class="stonefont">123</span>人想看
                                                        </p>

                                                    </div>
                                                </div>
                                            {% endfor %}
                                    </a>
                                </li>
                                {#{%  endfor %}#}


                                {% for film in films_want23 %}

                                    <li class="ranking-item ranking-index-2">
                                        <a href="https://maoyan.com/films/1197417" target="_blank"
                                           data-act="mostExpect-movie-click" data-val="{movieid:1197417}">
                                            <i class="ranking-index">2</i>
                                            <span class="img-link"><img class="ranking-img default-img"
                                                                        src="/static/images/800cdabf2f8276ab24990a0feed70d171352092.jpg@170w_118h_1e_1c"></span>
                                            <div class="name-link ranking-movie-name">{{ film.film_namech }}</div>

                                            <span class="ranking-num-info"><span class="stonefont">2</span>人想看</span>
                                        </a>
                                    </li>
                                {% endfor %}



                                {% for film in films_want %}
                                    <li class="ranking-item ranking-index-4">
                                        <a href="https://maoyan.com/films/1209269" target="_blank"
                                           data-act="mostExpect-movie-click" data-val="{movieid:1209269}">
          <span class="normal-link">
            <i class="ranking-index">{{ forloop.counter | add:'3' }}</i>
            <span class="ranking-movie-name">{{ film.film_namech }}</span>

            <span class="ranking-num-info">
                <span class="stonefont"></span>人想看
              </span>
          </span>
                                        </a>
                                    </li>
                                {% endfor %}


                            </ul>


                        </div>
                    </div>
                </div>

                <div class="top100-wrapper">
                    <div class="panel">
                        <div class="panel-header">
      <span class="panel-more">
        <a href="https://maoyan.com/board/4" class="textcolor_orange" data-act="all-TOP100-click">
          <span>查看完整榜单</span>
        </a>
        <span class="panel-arrow panel-arrow-orange"></span>
      </span>
                            <span class="panel-title">
        <span class="textcolor_orange">TOP 100</span>
      </span>
                        </div>
                        <div class="panel-content">
                            <ul class="ranking-wrapper ranking-top100">
                                {% for film in films_rank1 %}
                                    <li class="ranking-item ranking-top ranking-index-1">
                                        <a href="https://maoyan.com/films/1203" target="_blank"
                                           data-act="TOP100-movie-click" data-val="{movieid:1203}">
                                            <div class="ranking-top-left">
                                                <i class="ranking-top-icon"></i>
                                                <img class="ranking-img  default-img"
                                                     src="/static/images/ccc0beb35f7f5c21ee75efab3b6eb5fb39201.jpg@120w_80h_1e_1c">
                                            </div>
                                            <div class="ranking-top-right">
                                                <div class="ranking-top-right-main">
                                                    <span class="ranking-top-moive-name">{{ film.film_namech }}</span>
                                                    <p class="ranking-top-wish">
                                                        <span class="stonefont">9.</span>分
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}

                                {% for film in films_rank %}
                                    <li class="ranking-item ranking-index-2">
                                        <a href="https://maoyan.com/films/4055" target="_blank"
                                           data-act="TOP100-movie-click" data-val="{movieid:4055}">
          <span class="normal-link">
            <i class="ranking-index">{{ forloop.counter | add:'1' }}</i>
            <span class="ranking-movie-name">{{ film.film_namech }}</span>

            <span class="ranking-num-info">
                <span class="stonefont">.</span>分
              </span>
          </span>
                                        </a>
                                    </li>
                                {% endfor %}


                            </ul>


                        </div>
                    </div>
                </div>

            </div>
            <div class="main">
                <div class="movie-grid">
                    <div class="panel">
                        <div class="panel-header">
      <span class="panel-more">
        <a href="https://maoyan.com/films?showType=1" class="textcolor_red" data-act="all-playingMovie-click">
          <span>全部</span>
        </a>
        <span class="panel-arrow panel-arrow-red"></span>
      </span>
                            <span class="panel-title">
        <span class="textcolor_red">正在热映（90部）</span>
      </span>
                        </div>
                        <div class="panel-content">
                            <dl class="movie-list">
                                {% for film in films_showing %}

                                    <dd>
                                        <div class="movie-item">
                                            <a href="https://maoyan.com/films/1211270" target="_blank"
                                               data-act="playingMovie-click" data-val="{movieid:1211270}">
                                                <div class="movie-poster">
                                                    {#        <img class="poster-default" src="./猫眼电影 - 一网打尽好电影_files/loading_2.e3d934bf.png">#}
                                                    <img src="/static/images/0.jpg">
                                                    <div class="movie-overlay movie-overlay-bg">
                                                        <div class="movie-info">
                                                            <div class="movie-score"><i
                                                                    class="integer">{{ film.filmpf.film_rating }}</i>
                                                            </div>
                                                            <div class="movie-title movie-title-padding"
                                                                 title="哪吒之魔童降世">{{ film.film_namech }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="movie-detail movie-detail-strong movie-sale">
                                                <a href="https://maoyan.com/cinemas?movieId=1211270" class="active"
                                                   target="_blank" data-act="salePlayingMovie-click"
                                                   data-val="{movieid:1211270}">购 票</a>
                                            </div>
                                            <div class="movie-ver"><i class="imax3d"></i></div>
                                        </div>
                                    </dd>
                                {% endfor %}

                            </dl>


                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
      <span class="panel-more">
        <a href="https://maoyan.com/films?showType=2" class="textcolor_blue" data-act="all-upcomingMovie-click">
          <span>全部</span>
        </a>
        <span class="panel-arrow panel-arrow-blue"></span>
      </span>
                            <span class="panel-title">
        <span class="textcolor_blue">即将上映（140部）</span>
      </span>
                        </div>
                        <div class="panel-content">
                            <dl class="movie-list">


                                {% for film in films_coming %}
                                    <dd>
                                        <div class="movie-item">
                                            <a href="https://maoyan.com/films/1197417" target="_blank"
                                               data-act="upcomingMovie-click" data-val="{{ film.film_id }}">
                                                <div class="movie-poster">

                                                    <img src="/static/images/0.jpg">
                                                    <div class="movie-overlay movie-overlay-bg">
                                                        <div class="movie-info">
                                                            <div class="movie-title"
                                                                 title="使徒行者2：谍影行动">{{ film.film_namech }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="movie-detail movie-wish"><span
                                                    class="stonefont">{{ film.filmpf.film_want }}</span>人想看
                                            </div>
                                            <div class="movie-detail movie-detail-strong movie-presale">
                                                <a class="movie-presale-sep">预告片
                                                </a><a href="https://maoyan.com/cinemas?movieId=1197417" class="active"
                                                       target="_blank" data-act="presaleUpcomingMovie-click"
                                                       data-val="{movieid:1197417}">预 售</a>
                                            </div>
                                            <div class="movie-ver"></div>
                                        </div>
                                        <div class="movie-detail movie-rt">8月7日上映</div>

                                    </dd>

                                {% endfor %}


                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
      <span class="panel-more">
        <a href="https://maoyan.com/films?isPlay=1" class="textcolor_red" data-act="all-hotMovie-click">
          <span>全部</span>
        </a>
        <span class="panel-arrow panel-arrow-red"></span>
      </span>
                            <span class="panel-title">
        <span class="textcolor_red">热播电影</span>
      </span>
                            <span class="panel-subtitle">
        <a href="https://maoyan.com/films?isPlay=1&amp;catId=3" data-act="tag-hotMovie-click"
           data-val="{TagName:&#39;爱情&#39;}">爱情</a>
      </span> <span class="panel-subtitle">
        <a href="https://maoyan.com/films?isPlay=1&amp;catId=2" data-act="tag-hotMovie-click"
           data-val="{TagName:&#39;喜剧&#39;}">喜剧</a>
      </span> <span class="panel-subtitle">
        <a href="https://maoyan.com/films?isPlay=1&amp;catId=5" data-act="tag-hotMovie-click"
           data-val="{TagName:&#39;动作&#39;}">动作</a>
      </span> <span class="panel-subtitle">
        <a href="https://maoyan.com/films?isPlay=1&amp;catId=6" data-act="tag-hotMovie-click"
           data-val="{TagName:&#39;恐怖&#39;}">恐怖</a>
      </span> <span class="panel-subtitle">
        <a href="https://maoyan.com/films?isPlay=1&amp;catId=4" data-act="tag-hotMovie-click"
           data-val="{TagName:&#39;动画&#39;}">动画</a>
      </span></div>
                        <div class="panel-content">
                            <dl class="movie-list">


                                {% for film in films_hot1 %}


                                    <dd>
                                        <div class="movie-item">
                                            <a href="https://maoyan.com/films/246397" target="_blank"
                                               data-act="hotMovie-click" data-val="{movieid:246397}">
                                                <div class="movie-poster movie-poster-long">

                                                    <img src="/static/images/1.jpg">
                                                    <div class="movie-overlay movie-overlay-bg">
                                                        <div class="movie-info">
                                                            <div class="movie-score"><i class="integer">12</i></div>
                                                            <div class="movie-title movie-title-padding"
                                                                 title="西游记之大圣归来">{{ film.film_namech }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="movie-ver"><i class="m3d"></i></div>
                                        </div>

                                    </dd>
                                {% endfor films_hoto1 %}



                                {% for film  in films_hot %}

                                    <dd>
                                    <div class="movie-item">
                                        <a href="https://maoyan.com/films/48742" target="_blank"
                                           data-act="hotMovie-click" data-val="{movieid:48742}">
                                            <div class="movie-poster">
                                                {#        <img class="poster-default" src="./猫眼电影 - 一网打尽好电影_files/loading_2.e3d934bf.png">#}
                                                <img src="/static/images/0.jpg">
                                                <div class="movie-overlay movie-overlay-bg">
                                                    <div class="movie-info">
                                                        <div class="movie-score"><i
                                                                class="integer">{{ film.filmpf.film_rating }}</i></div>
                                                        <div class="movie-title movie-title-padding"
                                                             title="厉鬼将映">{{ film.film_namech }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="movie-ver"></div>
                                    </div>
                                {% endfor films_hot %}

                                </dd>


                            </dl>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}



</body></html>