{% extends 'common/base.html' %}
{% load static %}
{% block title %}
    <title>{{ title }}</title>
{% endblock title %}
{% block css1 %}
    <link rel="stylesheet" href="{% static 'css/common.d0f96cc2.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-index.521afa7b.css' %}">
{% endblock css1 %}
{% block nav %}
            <div class="nav">
                <ul class="navbar">
                    <li><a href="{% url 'film:index' %}" data-act="home-click" class="active">首页</a></li>
                    <li><a href="{% url 'film:filmlist' 0 0 0 0 1 %}" data-act="movies-click">电影</a></li>
{#                    <li><a href="{% url 'film:cinemalist' %}" data-act="cinemas-click">影院</a></li>#}
                    <li><a href="{% url 'film:schedule' 1 %}" data-act="cinemas-click">购票</a></li>
                    <li><a href="{% url 'film:ranking' 1 %}" data-act="board-click" >榜单</a></li>
                </ul>
            </div>
    {% endblock nav %}
{% block content %}
    <div class="container" id="app">
        <div class="content">
            <div class="aside">
                <div class="ranking-box-wrapper">
                    <div class="panel">
                        <div class="panel-header">
                            <span class="panel-title">
                                <span class="textcolor_red">今日票房</span>
                            </span>
                        </div>
                        <div class="panel-content">
                            <ul class="ranking-wrapper ranking-box">
                                <li class="ranking-item ranking-top ranking-index-1">
                                    <a href="{% url 'film:filmdetail' films_pf1.film_id %}0" target="_blank"
                                       data-act="ticketList-movie-click" data-val="{{ film.film_id }}">
                                        <div class="ranking-top-left">
                                            <i class="ranking-top-icon"></i>
                                            <img class="ranking-img  default-img"
                                                 src="{% url 'film:filmdetail' films_pf1.film_id %}.jpg">
                                        </div>
                                        <div class="ranking-top-right">
                                            <div class="ranking-top-right-main">
                                                <span class="ranking-top-moive-name">{{ films_pf1.film_namech }}</span>
                                                <p class="ranking-top-wish">
                                                    <span class="stonefont">{{ films_pf1.films_pf.daily_pf }}</span>亿
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% for film in films_pf %}
                                    <li class="ranking-item ranking-index-2">
                                        <a href="{% url 'film:filmdetail' film.film_id %}" target="_blank"
                                           data-act="ticketList-movie-click" data-val="{movieid:1243361}">
                                      <span class="normal-link">
                                        <i class="ranking-index">{{ forloop.counter | add:'1' }}</i>
                                        <span class="ranking-movie-name">{{ film.film_namech }}</span>
                                        <span class="ranking-num-info">
                                            <span class="stonefont">{{ film.filmpf.daily_pf }}</span>万
                                          </span>
                                      </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="most-expect-wrapper">
                    <div class="panel">
                        <div class="panel-header">
                          <span class="panel-more">
                            <a href="{% url 'film:ranking' 1 %}" class="textcolor_orange"
                               data-act="all-mostExpect-click">
                              <span>查看完整榜单</span>
                            </a>
                            <span class="panel-arrow panel-arrow-orange"></span>
                          </span>
                            <span class="panel-title">
                            <span class="textcolor_orange">最受期待</span>
                          </span>
                        </div>
                        <div class="panel-content">
                            <ul class="ranking-wrapper ranking-mostExpect">
                                <li class="ranking-item ranking-top ranking-index-1">
                                    <a href="{% url 'film:filmdetail' films_want1.film_id%}" target="_blank"
                                       data-act="mostExpect-movie-click" data-val="{movieid:1215605}">
                                        <div class="ranking-top-left">
                                            <i class="ranking-top-icon"></i>
                                            <img class="ranking-img  default-img"
                                                 src="{{ films_want1.film_photo }}">
                                        </div>
                                        <div class="ranking-top-right">
                                            <div class="ranking-top-right-main">
                                                <span class="ranking-top-moive-name">{{ films_want1.film_namech }}</span>
                                                <p class="ranking-release-time">
                                                    上映时间：{{ films_want1.film_releasdate }}</p>
                                                <p class="ranking-top-wish">
                                                    <span class="stonefont">{{ films_want1.filmpf.film_want }}</span>人想看
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% for film in films_want23 %}
                                    <li class="ranking-item ranking-index-2">
                                        <a href="{% url 'film:filmdetail' film.film_id%}" target="_blank"
                                           data-act="mostExpect-movie-click" data-val="{{ film.film_id }}">
                                            <i class="ranking-index">2</i>
                                            <span class="img-link">
                                                <img class="ranking-img default-img"
                                                     src="{{ film.film_photo }}">
                                            </span>
                                            <div class="name-link ranking-movie-name">{{ film.film_namech }}</div>
                                            <span class="ranking-num-info">
                                                <span class="stonefont">{{ film.filmpf.film_want }}</span>人想看</span>
                                        </a>
                                    </li>
                                {% endfor %}
                                {% for film in films_want %}
                                    <li class="ranking-item ranking-index-4">
                                        <a href="{% url 'film:filmdetail' film.film_id %}" target="_blank"
                                           data-act="mostExpect-movie-click" data-val="{{ film.film_id }}">
                                          <span class="normal-link">
                                            <i class="ranking-index">{{ forloop.counter | add:'3' }}</i>
                                            <span class="ranking-movie-name">{{ film.film_namech }}</span>
                                            <span class="ranking-num-info">
                                                <span class="stonefont">{{ film.filmpf.film_want }}</span>人想看
                                              </span>
                                          </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="top100-wrapper">
                    <div class="panel">
                        <div class="panel-header">
                          <span class="panel-more">
                            <a href="{% url 'film:ranking' 4 %}" class="textcolor_orange" data-act="all-TOP100-click">
                              <span>查看完整榜单</span>
                            </a>
                            <span class="panel-arrow panel-arrow-orange"></span>
                          </span>
                            <span class="panel-title">
                            <span class="textcolor_orange">TOP 100</span>
                          </span>
                        </div>
                        <div class="panel-content">
                            <ul class="ranking-wrapper ranking-top100">
                                <li class="ranking-item ranking-top ranking-index-1">
                                    <a href="{% url 'film:filmdetail' films_rank1.film_id %}" target="_blank"
                                       data-act="TOP100-movie-click" data-val="{movieid:1203}">
                                        <div class="ranking-top-left">
                                            <i class="ranking-top-icon"></i>
                                            <img class="ranking-img  default-img"
                                                 src="{{ films_rank1.film_photo }}">
                                        </div>
                                        <div class="ranking-top-right">
                                            <div class="ranking-top-right-main">
                                                <span class="ranking-top-moive-name">{{ films_rank1.film_namech }}</span>
                                                <p class="ranking-top-wish">
                                                    <span class="stonefont">{{ films_rank1.filmpf.film_rating }}</span>分
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% for film in films_rank %}
                                    <li class="ranking-item ranking-index-2">
                                        <a href="{% url 'film:filmdetail' film.film_id %}" target="_blank"
                                           data-act="TOP100-movie-click" data-val="{movieid:4055}">
                                          <span class="normal-link">
                                            <i class="ranking-index">{{ forloop.counter | add:'1' }}</i>
                                            <span class="ranking-movie-name">{{ film.film_namech }}</span>

                                            <span class="ranking-num-info">
                                                <span class="stonefont">{{ film.filmpf.film_rating }}</span>分
                                              </span>
                                          </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="movie-grid">
                    <div class="panel">
                        <div class="panel-header">
                            <span class="panel-more">
                            <a href="{% url 'film:filmlist' 0 0 0 0 1 %}" class="textcolor_red" data-act="all-playingMovie-click">
                              <span>全部</span>
                            </a>
                            <span class="panel-arrow panel-arrow-red"></span>
                            </span>
                            <span class="panel-title">
                            <span class="textcolor_red">正在热映({{ showing_count }})部</span>
                            </span>
                        </div>
                        <div class="panel-content">
                            <dl class="movie-list">
                                {% for film in films_showing %}
                                    <dd>
                                        <div class="movie-item">
                                            <a href="{% url 'film:filmdetail' film.film_id %}" target="_self"
                                               data-act="playingMovie-click" data-val="{{ film.film_id }}">
                                                <div class="movie-poster">
                                                    {#        <img class="poster-default" src="./猫眼电影 - 一网打尽好电影_files/loading_2.e3d934bf.png">#}
                                                    <img src="{{ film.film_photo }}">
                                                    <div class="movie-overlay movie-overlay-bg">
                                                        <div class="movie-info">
                                                            <div class="movie-score"><i
                                                                    class="integer">{{ film.filmpf.film_rating }}</i>
                                                            </div>
                                                            <div class="movie-title movie-title-padding"
                                                                 title="{{ film.film_namech }}">{{ film.film_namech }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="movie-detail movie-detail-strong movie-sale">
                                                <a href="{% url 'film:schedule' film.film_id %}" class="active"
                                                   target="_self" data-act="salePlayingMovie-click"
                                                   data-val="{movieid:1211270}">购 票</a>
                                            </div>
                                            <div class="movie-ver"><i class="imax3d"></i></div>
                                        </div>
                                    </dd>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <span class="panel-more">
                                <a href="{% url 'film:filmlist' 1 0 0 0 1 %}" class="textcolor_blue" data-act="all-upcomingMovie-click">
                                    <span>全部</span>
                                </a>
                                <span class="panel-arrow panel-arrow-blue"></span>
                            </span>
                            <span class="panel-title">
                                <span class="textcolor_blue">即将上映({{ coming_count }})部</span>
                            </span>
                        </div>
                        <div class="panel-content">
                            <dl class="movie-list">
                                {% for film in films_coming %}
                                    <dd>
                                        <div class="movie-item">
                                            <a href="{% url 'film:filmdetail' film.film_id %}" target="_blank"
                                               data-act="upcomingMovie-click" data-val="{{ film.film_id }}">
                                                <div class="movie-poster">
                                                    <img src="{{ film.film_photo }}" alt="{{ film.film_namech }}">
                                                    <div class="movie-overlay movie-overlay-bg">
                                                        <div class="movie-info">
                                                            <div class="movie-title" title="{{ film.film_namech }}">{{ film.film_namech }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="movie-detail movie-wish">
                                                <span class="stonefont">{{ film.filmpf.film_want }}</span>人想看
                                            </div>
                                            <div class="movie-detail movie-detail-strong movie-presale">
                                                <a class="movie-presale-sep">预告片</a>
                                                <a href="{% url 'film:schedule'  film.film_id%}" class="active"
                                                       target="_blank" data-act="presaleUpcomingMovie-click"
                                                       data-val="{{ film.film_id }}">预 售</a>
                                            </div>
                                            <div class="movie-ver"></div>
                                        </div>
                                        <div class="movie-detail movie-rt">{{ film.film_releasdate }}</div>
                                    </dd>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <span class="panel-more">
                                <a href="{% url 'film:ranking' 1 %}" class="textcolor_red" data-act="all-hotMovie-click">
                                    <span>全部</span>
                                </a>
                                <span class="panel-arrow panel-arrow-red"></span>
                            </span>
                            <span class="panel-title">
                                <span class="textcolor_red">热播电影</span>
                            </span>
                            <span class="panel-subtitle">
                                <a href="{% url 'film:filmlist' 0 1 0 0 1 %}" data-act="tag-hotMovie-click"
                                   data-val="{TagName:&#39;爱情&#39;}">爱情</a>
                            </span>
                            <span class="panel-subtitle">
                                <a href="{% url 'film:filmlist' 0 2 0 0 1 %}" data-act="tag-hotMovie-click"
                                   data-val="{TagName:&#39;喜剧&#39;}">喜剧</a>
                            </span>
                            <span class="panel-subtitle">
                                <a href="{% url 'film:filmlist' 0 8 0 0 1 %}" data-act="tag-hotMovie-click"
                                   data-val="{TagName:&#39;动作&#39;}">动作</a>
                            </span>
                            <span class="panel-subtitle">
                                <a href="{% url 'film:filmlist' 0 5 0 0 1 %}" data-act="tag-hotMovie-click"
                                   data-val="{TagName:&#39;恐怖&#39;}">恐怖</a>
                            </span>
                            <span class="panel-subtitle">
                                <a href="{% url 'film:filmlist' 0 3 0 0 1 %}" data-act="tag-hotMovie-click"
                                   data-val="{TagName:&#39;动画&#39;}">动画</a>
                            </span>
                        </div>
                        <div class="panel-content">
                            <dl class="movie-list">
                                <dd>
                                    <div class="movie-item">
                                        <a href="{% url 'film:filmdetail' films_hot1.film_id %}" target="_blank"
                                           data-act="hotMovie-click" data-val="{{ films_hot1.film_id }}">
                                            <div class="movie-poster movie-poster-long">
                                                <img src="{{ films_hot1.film_photo }}">
                                                <div class="movie-overlay movie-overlay-bg">
                                                    <div class="movie-info">
                                                        <div class="movie-score"><i class="integer">12</i></div>
                                                        <div class="movie-title movie-title-padding"
                                                             title="{{ films_hot1.film_namech }}">{{ films_hot1.film_namech }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="movie-ver"><i class="m3d"></i></div>
                                    </div>
                                </dd>
                                {% for film in films_hot %}
                                    <dd>
                                    <div class="movie-item">
                                        <a href="https://maoyan.com/films/48742" target="_blank"
                                           data-act="hotMovie-click" data-val="{movieid:48742}">
                                            <div class="movie-poster">
                                                {#        <img class="poster-default" src="./猫眼电影 - 一网打尽好电影_files/loading_2.e3d934bf.png">#}
                                                <img src="/static/images/0.jpg">
                                                <div class="movie-overlay movie-overlay-bg">
                                                    <div class="movie-info">
                                                        <div class="movie-score"><i
                                                                class="integer">{{ film.filmpf.film_rating }}</i></div>
                                                        <div class="movie-title movie-title-padding"
                                                             title="{{ film.film_namech }}">{{ film.film_namech }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="movie-ver"></div>
                                    </div>
                                {% endfor films_hot %}
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</body>
</html>